* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #021800;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #0006534e;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    position: relative;
    height: 85px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(0, 31, 3);
}

.left {
    position: absolute;
    float: left;
    left: 5px;
}

.left img {
    top: 0px;
    width: 500px;
    height: 100px;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    position: absolute;
    right: 50px;
}

.right li {
    margin-left: 100px;
    background-color: #0009824e;
    height: 40px;
    width: 130px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.right li:hover {
    background-color: #ff5900;
    transition: 0.5s;
    color: white;
}

.right li a:hover {
    color: white;
}

.right li a {
    font-size: large;
    text-align: center;
    display: block;
    color: white;
}

.footer-left {
    width: 30%;
    float: left;
}

.map {
    width: 38%;
    float: left;
}

.map iframe {
    width: 550px;
    height: 180px;
    float: right;
}

footer {
    bottom: 0;
    background-color: #0006534e;
    color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

footer .footer-left h3 {
    margin-top: 15px;
    text-align: left;
    margin-left: 30px;
}

footer .footer-left p {
    margin: 30px;
    text-align: left;
    font-size: 12px;
}

.footer-left p a {
    color: white;
}

header li:active {
    background-color: #1f3c00;
}

@keyframes nhapnhay {
    0% {
        color: #ffffff;
    }

    25% {
        color: #ff5900
    }

    50% {
        color: #ffcc00;
    }

    75% {
        color: #c0ffba;
    }

    100% {
        color: #c997ff;
    }
}

@keyframes phongto {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.8;
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.08);
    }
}

@keyframes dichuyen {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}


/* --------BODY----- */
.container {
    width: 98%;
    height: 100%;
    margin: 10px;
    display: flex;
}

.left-bd {
    width: 24%;
    height: 1100px;
    margin: 5px;
}

.right-bd {
    width: 24%;
    height: 1100px;
    margin: 5px;
}

.center-bd {
    margin: 21px 40px;
    width: 48%;
    border: solid 1px rgb(116, 116, 116);
    height: 1115px;
    border-radius: 5px;
    position: relative;

}

.left-bd i {
    width: 100%;
    border: 1px solid rgb(116, 116, 116);
    height: 334px;
    background-color: #0006534e;
    display: block;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.left-bd i img {
    margin-top: 15px;
    width: 250px;
    height: 220px;
    border-radius: 5px;
}

.right-bd i {
    width: 100%;
    border: 1px solid rgb(116, 116, 116);
    height: 334px;
    background-color: #0006534e;
    display: block;
    margin-top: 3px;
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.right-bd i img {
    border-radius: 5px;
    margin-top: 15px;
    width: 250px;
    height: 220px;
}

.left-bd p {
    margin-top: 30px;
    animation: nhapnhay 1s infinite;
}

.right-bd p {
    margin-top: 30px;
    animation: nhapnhay 1s infinite;
}

.nd1 {
    text-align: center;
    color: white;
    width: auto;
    height: auto;
}

.nd1 h3 {
    margin: 10px;
    animation: nhapnhay 1s infinite;
    text-align: center;
}

.nd1 p {
    text-align: left;
    margin: 0 8px;
}

.nd1 iframe {
    margin-top: 10px;
    width: 96%;
    border-radius: 5px;
}

/* -----------------ND2---------------- */
.nd2 {
    text-align: center;
    color: white;
    width: auto;
    height: auto;
}

.nd2 h3 {
    margin: 10px;
    animation: nhapnhay 1s infinite;
    text-align: center;
}

.nd2 p {
    margin: 0 8px;
}

.nd2 p:nth-child(3) {
    margin-top: 20px;
    text-align: left;
}

.nd2 img {
    margin-top: 15px;
    width: 96%;
    border-radius: 5px;
}

.nd1 img {
    width: 50px;
    position: absolute;
    right: -25px;
    top: -20px;
    transform: rotate(10deg);
}